{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bucket/bucket_detail.css' %}">

</head>
<body>
    <form action="/bucket/{{ bucket.id }}/" method='POST'>
        {% csrf_token %}

        <div class="outclass">
            <div class="out1">{{ bucket.my_wish }}</div>
            <div class="out2">{{ bucket.creator }}</div>
            <div class="out2">{{ bucket.completed }}</div>
            
            {% if bucket.completed == True %}
                <input type="checkbox" name="input_completed" value="{{ bucket.id }}" checked="checked" disabled>
            {% else %}
                <input type="checkbox" name="input_completed" value="{{ bucket.id }}">
            {% endif %}
        </div>

        <div class="form_div">
            <input type="submit" value="Apply">
        </div>

    </form>
</body>
</html>
